* {
  padding: 0;
  margin: 0;
}
.content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: [content] 1fr;
  grid-template-rows: [interview] minmax(min-content, max-content) [editor] minmax(min-content, max-content);
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .content {
    grid-template-columns: [editor] 3fr [interview] 2fr;
    grid-template-rows: [content] minmax(min-content, max-content);
    grid-auto-flow: row;
    max-width: 1000px;
  }
}
@media (min-width: 1024px) {
  .content {
    max-width: 1200px;
  }
}
.editor {
  grid-column: content;
  grid-row: editor;
  background-color: #d3ffe9;
  padding: 10px;
}
@media (min-width: 768px) {
  .editor {
    grid-column: editor;
    grid-row: content;
    grid-auto-flow: row;
  }
}
.editor__interact {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.editor__interact canvas {
  border: 1px solid #000;
}
.editor__buttons {
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
  margin: auto;
}
.editor__buttons button {
  margin: 0;
  padding: 1px 3px;
}
@media (min-width: 768px) {
  .editor__buttons {
    grid-column: interact;
  }
  .editor__buttons button {
    padding: 3px 5px;
  }
}
@media (min-width: 1024px) {
  .editor__buttons {
    max-width: 400px;
  }
}
button {
  margin: 10px auto;
}
.interview {
  grid-column: content;
  grid-row: interview;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .interview {
    grid-column: interview;
    grid-row: content;
  }
}
